---
import Layout from "../layouts/Layout.astro";
import PopularMovies from "../components/movies/PopularMovies.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <PopularMovies />
  </main>
</Layout>
