---
import Layout from "../layouts/Layout.astro";
import PopularMovies from "../components/movies/PopularMovies.astro";
import NowPlaying from "../components/movies/NowPlaying.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <PopularMovies />
  </main>
  <section>
    <NowPlaying />
  </section>
</Layout>
