---
import type { MovieDetails } from "../../movie";

const { id } = Astro.params;

const response = await fetch(
  `https://api.themoviedb.org/3/movie/${id}?api_key=${
    import.meta.env.TMDB_API_KEY
  }`
);
const data = (await response.json()) as MovieDetails;
---

<h1>{data.id}</h1>
